*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
# Intellij folder
.idea/
*.iml
*.iws

# Maven
log/
target/
/.idea/uiDesigner.xml
.gitignore
.gradle/
.idea/compiler.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules/
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
build.gradle
build/
gradle/
gradlew
gradlew.bat
settings.gradle

